@import 'mixins';
@import 'variables';

:host {
  display: block;
  padding: 30px 0;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  margin: 0 auto 20px;
}

.plate {
  width: 100%;
  background: $background-1;
  border-radius: $border-radius-1;
  cursor: pointer;
  transition: .2s ease-in background, .2s ease-in transform;
  pointer-events: none;
  aspect-ratio: 1;

  &:hover {
    transform: scale(1.05);
  }

  &.pending {
    background: $background-6;
    pointer-events: all;
  }

  &.computer {
    background: $background-7;
  }

  &.user {
    background: $background-8;
  }
}

.bottom-bar {
  align-items: stretch;

  @include grid(1fr 1fr 1fr, 15px);

  &__input {
    width: 100%;
  }

  &__start {}
}
