@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
  font-family: $font-family-1, sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"], input[type="text"], input[type="password"] {
  height: 44px;
  padding: 0 7px;
  color: $text-color-2;
  background: $background-3;
  border: 1px solid $border-color-2;
  border-radius: $border-radius-2;
  box-shadow: none;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;


  &:enabled:focus {
    border-color: $border-color-3;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: $box-shadow-1;
  }
}

.base-button {
  padding: 7px 10px;
  color: $text-color-1;
  font-size: 16px;
  background: $background-5;
  border: 1px solid $border-color-4;
  border-radius: $border-radius-2;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

  &:not(:disabled):hover {
    color: $text-color-1;
    background: $background-4;
    border: 1px solid $border-color-3;
  }

  &:not(:disabled):focus {
    box-shadow: $box-shadow-2;
  }
}
