@import 'mixins';
@import 'variables';

:host {
  display: block;
  padding: 30px 0;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  margin: 0 auto 20px auto;
}

.plate {
  width: 100%;
  aspect-ratio: 1;
  border-radius: $border-radius-1;
  background: $background-1;
  transition: .2s ease-in background, .2s ease-in transform;
  cursor: pointer;
  pointer-events: none;

  &:hover {
    transform: scale(1.05);
  }

  &.pending {
    pointer-events: all;
    background: $background-6;
  }

  &.computer {
    background: $background-7;
  }

  &.user {
    background: $background-8;
  }
}

.bottom-bar {
  align-items: stretch;
  @include grid(1fr 1fr 1fr, 15px);

  &__score {
    margin: 0;
    @include text(18px, 400, 21px);
    @include flex(center, flex-start);
  }

  &__input {
    width: 100%;
  }

  &__start {

  }
}
